<div class="warp">
	<header>
		<img class="heade_logo" src="./style/images/icon_logo.png" alt="">
		<!-- <div class="headerw"></div> -->
		<img class="head-x" id="hedImg" ng-click="up()" src="./style/images/icon_search_2.png" alt="">
		<!-- 搜索 -->
		<div class="search" ng-show="bool">
			<img class="fl search_img" src="./style/images/dso1.png" alt="">
		
				<form action="" >
					<img  class="search_img1" src="./style/images/icon_search_3.svg" alt="">
					<input class="formA"  type="text" ng-model="str1" placeholder="618大促">
				</form>
		
			<span>搜索</span>
		</div>
		<!-- 搜索结束 -->
		<div class="contert" direc1>
			<!-- 菜单导航、 -->
			<div class="swiper-container" id="slida">
				<div class="swiper-wrapper">
			        <div class="swiper-slide gj gjb"><a href="javascript:;">推荐</a></div>
			        <div class="swiper-slide gj"><a href="#/list">坚果炒货</a></div>
			        <div class="swiper-slide gj"><a href="#/list2">果干蜜饯</a></div>
			        <div class="swiper-slide gj"><a href="#/list3">进口美食</a></div>
			        <div class="swiper-slide gj"><a href="#/list4">肉脯海鲜</a></div>
			        <div class="swiper-slide gj"><a href="#/list5">糕点糖果</a></div>
			        <div class="swiper-slide gj"><a href="#/list6">豆干素食</a></div>
			    </div>
			</div>
			<!-- <nav class="sdd">
				<a href="javascript:;">推荐</a>
				<a href="#/list">坚果炒货</a>
				<a href="#/list2">果干蜜饯</a>
				<a href="#/list3">进口美食</a>
				<a href="#/list4">肉脯海鲜</a>
				<a href="#/list5">糕点糖果</a>
				<a href="#/list6">推豆干素食荐</a>
			</nav> -->
			<!-- 菜单导航结束 -->
		</div>
	</header>
	<div class="contert">
		<!-- lunbo -->
		<div class="bigShows">
			<div direc></div>
		        <div class="swiper-container" id="slid1">
			        <div class="swiper-wrapper ">
				        <div class="swiper-slide"><img src="./style/images/big01.png" alt=""></div>
				        <div class="swiper-slide " ><img src="./style/images/5.jpg" alt=""></div>
				        <div class="swiper-slide "><img src="./style/images/4.jpg" alt=""></div>
				        <div class="swiper-slide"><img src="./style/images/3.jpg" alt=""></div>
				    </div>
				</div>
			</div>
		</div>
		<!-- /lunbo -->
		<!-- 签到nav -->
		<nav class="nav2">
			<div>
				<a href="#/indexs"><img src="./style/images/nav2.png" alt=""></a>
				<p>新人有礼</p>
			</div>
			<div>
				<a href="#/denglu">
					<img src="./style/images/nav22.png" alt="">
					<p>每日签到</p>
				</a>
			</div>
			<div>
				<img src="./style/images/nav23.png" alt="">
				<p>福利抽奖</p>
			</div>
			<div>
				<a href="#/mmmm"><img src="./style/images/nav24.png" alt=""></a>
				<p>全场9.9</p>
			</div>
		</nav>
		<!-- 签到nav结束 -->
		<!-- 618 -->
		<div class="banner">
			<img class="dsix" src="./style/images/d618.png" alt="">
		</div>
		<div class="bigShow">
			<img class="bigImg" src="./style/images/big02.png" alt="">
		</div>
		<!-- 三张图片 -->
		<div class="hotw">
			<div class="fl bg-rb hot-w">
				<img class="hotImg1" src="./style/images/big03.png" alt="">
			</div>
			<div class="fr bg-bb">
				<img class="hotImg2" src="./style/images/big04.png" alt="">
			</div>
			<div class="fr">
				<img class="hotImg2" src="./style/images/big05.png" alt="">
			</div>
			<div>
				<img class="hotXImg" src="./style/images/big_x.png" alt="">
			</div>
		</div>
	</div>
	<!-- 小鱼干开始 -->
	<div class="content_x">
		<ul>
			<li>
				<div class="fl cpro_img">
				<img src="./style/images/contrn_x1.png" alt=""></div>
				<div class="fl con_pro">
					<h6 class="pro_biaot">香辣小鱼仔</h6>
					<p class="pro_conter">湘妹子都说好吃呢/168g</p>
					<p class="pro_price">￥14.9</p>
				</div>
			</li>
			<li>
				<div class="fl cpro_img"><img src="./style/images/contrn_x2.png" alt=""></div>
				<div class="fl con_pro">
					<h6 class="pro_biaot">多味花生米</h6>
					<p class="pro_conter">来碟花生米下酒喝/210g*2袋</p>
					<p class="pro_price">￥10.3</p>
				</div>
			</li>
			<li>
				<div class="fl cpro_img"><img src="./style/images/contrn_x3.png" alt=""></div>
				<div class="fl con_pro">
					<h6 class="pro_biaot">卤香鹌鹑蛋</h6>
					<p class="pro_conter">吃不厌的传统卤味/128g</p>
					<p class="pro_price">￥13.9</p>
				</div>
			</li>
			<li>
				<div class="fl cpro_img"><img src="./style/images/contrn_x4.png" alt=""></div>
				<div class="fl con_pro">
					<h6 class="pro_biaot">原味风干牛肉</h6>
					<p class="pro_conter">一口领略草原游牧情怀/116g</p>
					<p class="pro_price">￥32.9</p>
				</div>
			</li>
			<li>
				<div class="fl cpro_img"><img src="./style/images/contrn_x5.png" alt=""></div>
				<div class="fl con_pro">
					<h6 class="pro_biaot">酸甜杨梅干</h6>
					<p class="pro_conter">抢在杨梅上市前解馋/100g</p>
					<p class="pro_price">￥11.9</p>
				</div>
			</li>
		</ul>
	</div>
	<!-- 小鱼干结束 -->
	<!-- 横向轮播开始 -->
	<div class="scroll">
		<div class="shuii"></div>
		<img class="hotXImg ss" src="./style/images/jxzt.png" alt="">
		<img class="scrollImg" src="./style/images/s1.png" alt="">
		<div class="bodyy">
			<div direc1 >
				<div class="swiper-container " id="slid2" >
			    <div class="swiper-wrapper">
	        	<div class="swiper-slide qqs" >
	       			<img src="./style/images/sw1.jpg" alt="">
	       			<p>酒鬼最爱辛香弹牙肉</p>
	       			<p>￥34.9</p>
		        </div>
		       	<div class="swiper-slide qqs" >
	       			<img src="./style/images/sw2.jpg" alt="">
	       			<p>酥脆川豆配酒好巴适</p>
	       			<p>￥13.9</p>
		        </div>
		        <div class="swiper-slide qqs" >
	       			<img src="./style/images/sw4.jpg" alt="">
	       			<p>湘味麻辣下酒够劲</p>
	       			<p>￥14.9</p>
		        </div>
		        <div class="swiper-slide qqs" >
	       			<img src="./style/images/sw5.jpg" alt="">
	       			<p>可口椰香小球护住胃</p>
	       			<p>￥12.8</p>
		        </div>
		        <div class="swiper-slide qqs" >
	       			<img src="./style/images/sw6.jpg" alt="">
	       			<p>吃酒没有花生米怎么行</p>
	       			<p>￥10.9</p>
		        </div>
		        <div class="swiper-slide qqs" >
	       			<img src="./style/images/sw7.jpg" alt="">
	       			<p>一饮而尽别“鱿鱼</p>
	       			<p>￥9.9</p>
		        </div>
			    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- 横向轮播开始 -->
	<!-- 购物车选项开始 -->
	<div class="shdu">
		<div class="shuii"></div>
		<img class="hotXImg ss" src="./style/images/bktj.png" alt="">
		<div class="contenx fl" ng-repeat="item in data|filter:{describe:str1}|orderBy:str1">
			
			<img class="bktjA" ng-src="{{item.img}}" alt="">
			<div>
				<p class="pro_p2">{{item.describe}}</p>
				<div class="mjuu">
					<div class="fl pirce"><span>{{item.price|currency:"￥"}}</span></div>
					<div class="fr ssss " id="btnImg" ng-click="set(item.goodsId,true)" >
						<img class="ioi" ng-click="str2()" src="./style/images/icon_cart3_white.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div> 
	<footer>
		<nav class="nav3">
			<div>
				<img src="./style/images/foo1.png" alt="">
				<p style="color:#FF4F39">首页</p>
			</div>
			<div>
				<img src="./style/images/foo2.png" alt="">
				<p>分类</p>
			</div>
			<div>
				<img src="./style/images/foo3.png" alt="">
				<p>吃乎</p>
			</div>
			<div>
				<a href="#/jiesuan" id="end" ng-click="end()">
					
					<img src="./style/images/foo4.png" alt="">

					<p>购物车</p>
					<em ng-model="item.num">{{cart.length}}</em>
				</a>
			</div>
			<div>
				<a href="#/denglu">
					<img src="./style/images/foo5.png" alt="">

					<p>我的</p>
				</a>
			</div>
		</nav>
	</footer>
</div>
